<div align=" center ">

  <div class="win">
    <div class ="tabl">
      <div class ="login">
        <p class="text">
        <p class="text">

          Ответ = <%= "#{ @users} " %>

        </p>




        </p>

      </div>

    </div>

  </div>

</div>
