<div align=" center ">

  <div class="win">
    <div class ="tabl">
      <div class ="login">
        <p class="text">
          Неправильно введен пароль, повторите попытку еще раз


        </p>

      </div>

    </div>

  </div>

</div>
