<div align=" center ">

  <div class="win">
    <div class ="tabl">
      <div class ="login">
        <p class="text">
          Пользователь с такой почтой уже существует, пожалуйста создайте другую почту, или авторизируйтесь под данной почтой



        </p>

      </div>

    </div>

  </div>

</div>
