
<div align=" center ">

  <div style="border: 4px ridge #aa0000;
    background: #F6E2D1;
    padding: 25px;
    border-radius: 17px;
    font-size: 30px;
    font-family: Arial;">
  <p class="text-block">
    Добро пожаловать на наш сайт по теории вероятностей.
    Если желаете продолжить с нами сотрудничество предлагаем перейти на следущую страницу)
  </p>


    <div class="gif-wrapper">
      <h1 class="landing-title"> </h1>
    </div>

  <%=button_to  'Нажать вот сюда',  '/window', method: :get %>
</div>

</div>
